RPMS
Makefile
installroot
harbour-sapphire
*.list
*.a
*.o
*.so
*.so.*
*.moc
*.qm
moc_*
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
*_autogen
install_manifest.txt
